<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../css/styles.css" th:href="@{/css/styles.css}" type="text/css" media="all"  >
  <title>My app</title>
  <!-- Только CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script> <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>


</head>
<script type="text/javascript">

  var app = angular.module("CREATE_DEVICE",[]);
  app.controller("CREATE_DEVICE_CTRL", function($scope, $http){
    console.log("check");
    $scope.fcontacts = [];
    $scope.edcontid = 13;
    $scope.edcontname = "name";
    $scope.edcontcontact = 13;
    $scope.edcontcontractId = 0;
    $scope.pdfState = 0;
    $scope.search = "";
    $scope.oldCntr = [];
    $scope.date = [];

    $scope.getDevice = function(){
      $http({
        url: '/client',
        method: 'GET',
      }).then(resp=>{
        $scope.fcontacts = resp.data;
        console.log(resp.data);
      });
    }
    $scope.checkId = function(id){
      let n = $scope.fcontacts.length;
      let fl = true;
      for(let i = 0; i < n; i++){
        let temp = $scope.fcontacts[i].contractId;
        if(temp?.id!=null) {
          console.log(Number(id) === temp.id);
          if (temp?.id === Number(id)) {
            alert("Контракт с таким id существует!");
            fl = false;
            return false;
          }
        }
        let mOld = $scope.fcontacts[i].oldContracts;
        let m = mOld.length;
        for(let j= 0; j < m; j++){
          if(mOld[j]?.id!=null) {
            if (mOld[j].id === Number(id)) {
              alert("Контракт с таким id существует!");
              fl = false;
              return false;
            }
          }
        }
      }
      return fl;
    }
    $scope.searchDevice = function(){
      $http({
        url: '/client1?name='+$scope.search,
        method: 'GET',
      }).then(resp=>{
        let dd = resp.data;
        if(dd.length == 0){
          alert("Ничего не нашлось");
        }
        else {$scope.fcontacts = resp.data;}
        console.log(resp.data);
        $scope.pdfState = 3;
      });
    }

    $scope.getDate = function (){
      let n = $scope.fcontacts.length;
      for(let i = 0; i < n; i++){
        $scope.date.push($scope.fcontacts[i].id);
      }
    }

    $scope.getPdf = function(){
      $scope.getDate();
      console.log($scope.date);
      $http({
        url: '/client/topdf/'+ $scope.date +"?status=" +$scope.pdfState,
        method: 'GET',
      }).then(
      );
    }

    $scope.getDevice();

    $scope.delete = function(fcont){
      if(confirm('Вы точно хотите удалить клиента?')) {
        $http.delete("/client/del/" + fcont.id).then(fcontacts => {
          let ix = $scope.fcontacts.map(fcont => fcont.id).indexOf(fcont.id);
          $scope.fcontacts.splice(ix, 1);
        });
      }
    }
    $scope.topSumm = function (){
      $http.get("/client/topSumm?name="+$scope.search).then(resp=>{
        console.log(resp.data);
        $scope.fcontacts = resp.data;
        $scope.pdfState = 1;
      });
    }
    $scope.editContra = function(edcontcontractId){
      if(confirm('Вы точно хотите удалить контракт?')) {
        $http.delete("/client/del/onlyContractId/" + edcontcontractId).then(function (response) {
          $scope.getDevice();
        });
      }
    }
    $scope.saveDevice = function(){
      if($scope.cont.name != null && $scope.cont.name !="") {
        if($scope.cont.contact != null && $scope.cont.contact !="") {
          if($scope.checkId($scope.cont.contractId)) {
            $http({
              url: '/add_clients',
              method: 'POST',
              data: {
                id: $scope.cont.id,
                name: $scope.cont.name,
                contact: $scope.cont.contact,
                totalSumm: null,
                num: $scope.cont.contractId,
                tempStr: null,
                contractId: null,
                oldContracts: null,
              }
            }).then(function (response) {

              console.log(response);
              $scope.getDevice();
              $scope.cont.name = null;
              $scope.cont.contact = null;
              $scope.cont.totalSumm = null;
              $scope.cont.contract = null;
            });
          }else{
            alert("Контракт с таким id существует и привязан к другому контакту!");
          }
        }else{
          alert("Вы оставили важные поля пустыми!2");
        }
      }else{
        alert("Вы оставили важные поля пустыми!1");
      }
    }
    $scope.toOldContract = function (id){
      if(confirm('Вы точно хотите перевести текущий контракт в старые контракты?')) {
        $http.put("/client/toOld/" + id).then(function (response) {
          console.log(response.data);
          $scope.getDevice();
        });
      }
    }

    $scope.delOldCntr = function(contract){
      if(confirm('Вы точно хотите удалить контракт?')) {
        $http.delete("/contracts/del/" + contract).then(oldCntr => {
          let ix = $scope.oldCntr.map(contract => contract).indexOf(contract);
          $scope.oldCntr.splice(ix, 1);
        });
      }
    }
    $scope.delNowCntr = function(contract){
      if(confirm('Вы точно хотите удалить контракт?')) {
        $http.delete("/contracts/del/" + contract).then(function (response) {
          console.log(response.data);
          $scope.getDevice();
        });
      }
    }
    $scope.s = function(devic){
      $scope.edcontid = devic.id;
      $scope.edcontname = devic.name;
      $scope.edcontcontact = devic.contact;
      $scope.edcontcontractId = devic.num;
      $scope.oldCntr = devic.oldContracts;
    }
    $scope.edit = function(){
      let fl = false;
      if($scope.edcont.name == "" || $scope.edcont.name == null){
        $scope.edcont.name = $scope.edcontname;
      }
      if($scope.edcont.contact == "" || $scope.edcont.contact==null){
        $scope.edcont.contact = $scope.edcontcontact;
      }
      if($scope.edcont.contract == 0 || $scope.edcont.contract==null){
        $scope.edcont.contract =  $scope.edcontcontractId;
        fl = true;
      }
      console.log($scope.edcont.name, $scope.edcont.contact, $scope.edcont.contract);
      if(fl===false) {
        if ($scope.checkId($scope.edcont.contract)) {
          $http
          ({
            url: "/client/ed/" + $scope.edcontid,
            method: 'PUT',
            data: {
              id: $scope.edcontid,
              name: $scope.edcont.name,
              contact: $scope.edcont.contact,
              num: $scope.edcont.contract,
              totalSumm: null,
              contractId: null,
              oldContracts: null,
              tempStr: null,
            }
          }).then(function (response) {
            console.log(response.data);
            $scope.getDevice();
            $scope.edcont.name = null;
            $scope.edcont.contact = null;
          });
        }else{
          alert("No-no-no!");
        }
      }else{
        $http
        ({
          url: "/client/ed/" + $scope.edcontid,
          method: 'PUT',
          data: {
            id: $scope.edcontid,
            name: $scope.edcont.name,
            contact: $scope.edcont.contact,
            num: $scope.edcont.contract,
            totalSumm: null,
            contractId: null,
            oldContracts: null,
            tempStr: null,
          }
        }).then(function (response) {
          console.log(response.data);
          $scope.getDevice();
          $scope.edcont.name = null;
          $scope.edcont.contact = null;
        });
      }
    }
  });
</script>
<body ng-app="CREATE_DEVICE" ng-controller="CREATE_DEVICE_CTRL">
<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Function
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><button type="button" class="dropdown-item" ng-click="topCount()">Top count</button></li>
              <li><button type="button" class="dropdown-item" ng-click="topSumm()">Top summ</button></li>
            </ul>

          </li>
        </ul>
      </div>
    </div>
    <span id = "nameList">Clients</span>
    <form class="d-flex" id="search">
      <input ng-model="search" type="search" name = "q" placeholder = "Search query" class="form-control me-2" aria-label="readonly input example">
      <button class="btn btn-primary me-4" type="submit" ng-click="searchDevice()"> Go! </button>
    </form>
  </nav>

</header>
<main>
  <section class = "rightPanel" row="col-xl" >

    <article class = "list ">
      <a href="../clients" id="cliets" class="btn btn-outline-secondary text-white" role="button">Clients</a>
      <a href="../contracts" id="contracts" class="btn btn-outline-secondary text-white" role="button">Contracts</a>
      <a href="../equpments" id="equpments" class="btn btn-outline-secondary text-white" role="button">Equipments</a>
      <a href="../firstContacts" id="firstCon" class="btn btn-outline-secondary text-white" role="button">First contacts</a>

      <article class="buttons">
        <form>
          <button class="btn btn-outline-light" type="submit" id="save" ng-click="getPdf()">Save data</button>
        </form>
      </article>
    </article>

  </section>
  <section class="table1">
    <div class="d-flex justify-content-end">
      <table class="table">
        <thead class="thead-dark">

        <tr>
          <th>№</th>
          <td>Name</td>
          <td>Contact</td>
          <td>ContractID</td>
          <td>Supper button</td>
          <td>OldCntrctID</td>
          <td>Total Summ</td>
          <td>Button</td>
        </tr>

        </thead>

        <tr ng-repeat="client in fcontacts track by $index" >
          <td>{{$index+1}}</td>
          <td >{{client.name}}</td>
          <td >{{client.contact}}</td>
          <td ><a href="/contracts/view/{{client.num}}" >{{client.num}}</a></td>
          <td>
            <form>
              <button class="btn btn-outline-primary btn-sm" type="button" ng-click="toOldContract(client.id)">Перевести в старые</button>
            </form>
          </td>
          <td>
              <span  ng-repeat="old in client.oldContracts">
                  <a href="/contracts/view/{{old.id}}" >{{old.id}}</a>
              </span>
          </td>
          <td >{{client.totalSumm}}</td>
          <td>
            <div class="d-grid gap-2 d-md-block">
              <button class="btn btn-outline-primary btn-sm" ng-click="delNowCntr(client.num)" type="button">
                Удалить текущий контракт
              </button>
              <button class="btn btn-outline-primary btn-sm" ng-click="delete(client)" type="button">
                Удалить
              </button>
              <a class="btn btn-outline-primary btn-sm" href="#zat1" role="button" ng-click="s(client)">Старые контракты</a>
              <a class="btn btn-outline-primary btn-sm" href="#zat" role="button" ng-click="s(client)">Редактировать</a>
            </div>
          </td>
        </tr>

        <tr>
          <div class="row">
            <form>
              <td></td>
              <td class="mai">
                <input class="form-control" ng-model="cont.name" type="text" id = "deviceName" placeholder = "Input Name" >
              </td>
              <td class="mai">
                <input class="form-control" ng-model="cont.contact" type="text" id = "devicePrice" placeholder = "Input Price" >
              </td >
              <td>
                <input class="form-control" ng-model="cont.contractId" type="text" id = "devame" placeholder = "Search Name" >
              </td>
              <td></td>
              <td>
              </td>
              <td>
              </td>
              <td class="mai">
                <button class="btn btn-primary" type="button" ng-click="saveDevice()">Добавить</button>
              </td>
            </form>
          </div>
        </tr>

      </table>
    </div>
    <div id="zat1">
      <div id="form1">

        <table class="table">
          <thead>
            <tr>
              <td>№</td>
              <td>ContractId</td>
              <td>Button</td>
            </tr>
          </thead>
          <tr ng-repeat="client in oldCntr track by $index">
            <td>{{$index + 1}}</td>
            <td>{{client.id}}</td>
            <td>
              <form>
                <button class="btn btn-primary" type="button" ng-click="delOldCntr(client.id)">Удалить</button>
              </form>
            </td>
          </tr>
        </table>
        <a href="#"><button type="button" class="btn btn-primary" aria-label="Close">Закрыть</button></a>

      </div>
    </div>

    <div id="zat">
      <div id="form">

        <table class="table">
          <tr>
            <td>Name</td>
            <td>Contact</td>
            <td>ContractID</td>
          </tr>
          <tr><form>
            <td>
              <input class="form-control" ng-model="edcont.name" type="text" id = "eddeviceName" placeholder = "Search Name" >
            </td>
            <td>
              <input class="form-control" ng-model="edcont.contact" type="text" id = "eddevicePrice" placeholder = "Search Price" >
            </td>
            <td>
              <input class="form-control" ng-model="edcont.contract" type="text" id = "devName" placeholder = "Search Name" >
            </td>
          </form>
          </tr>
        </table>
        <a href="#"><button type="button" class="btn btn-primary" aria-label="Close">Закрыть</button></a>
        <button class="btn btn-primary" ng-click="editContra(edcontid)" type="button">
          Отвязать текущий контракт от клиента
        </button>
        <button class="btn btn-primary" ng-click="edit()" type="button">
          Сохранить изменения
        </button>
      </div>
    </div>
  </section>
</main>
</body>
</html>