<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/styles.css" th:href="@{/css/styles.css}" type="text/css" media="all"  >
    <title>My app</title>
    <!-- Только CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script> <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>


</head>
<script type="text/javascript">

    var app = angular.module("CREATE_DEVICE",[]);
    app.controller("CREATE_DEVICE_CTRL", function($scope, $http){
        console.log("check");
        $scope.firstDate = "";
        $scope.secondDate ="";
        $scope.contracts = [];
        $scope.edconid = 13;
        $scope.edconcompName = "name";
        $scope.edconTempStr = "";
        $scope.edconfdate = 13;
        $scope.edconldate = 0;
        $scope.edconrelev = "";
        $scope.search = "";
        $scope.Count = 0;
        $scope.oldCntr = [];
        $scope.checkId = function(id){
            let n = $scope.contracts.length;
            let fl = true;
            for(let i = 0; i < n; i++) {
                let temp = $scope.contracts[i].id;
                if (temp === Number(id)) {
                    alert("Контракт с таким id существует!");
                    fl = false;
                    return false;
                }
            }
            return fl;
        }
        $scope.s = function(edcontract){
            $scope.edconid = edcontract.id;
            $scope.edconcompName = edcontract.compName;
            $scope.edconfdate = edcontract.fdate;
            $scope.edconldate = edcontract.ldate;
            $scope.oldCntr = edcontract.equipments;
        }
        $scope.edit = function(){
            if($scope.edcontrac.compName == null || $scope.edcontrac.compName == ""){
                $scope.edcontrac.compName = $scope.edconcompName;
            }
            if($scope.edcontrac.fdate == null || $scope.edcontrac.fdate == ""){
                $scope.edcontrac.fdate = $scope.edconfdate;
            }
            if($scope.edcontrac.ldate == null || $scope.edcontrac.ldate == ""){
                $scope.edcontrac.ldate =$scope.edconldate;
            }
            if($scope.edcontrac.tempStr == null || $scope.edcontrac.tempStr == ""){
                $scope.edcontrac.tempStr = $scope.edconTempStr;
            }
            if($scope.old==null) {
                $http
                ({
                    url: "/contracts/ed/" + $scope.edconid,
                    method: 'PUT',
                    data: {
                        id: $scope.edconid,
                        compName: $scope.edcontrac.compName,
                        fdate: $scope.edcontrac.fdate,
                        ldate: $scope.edcontrac.ldate,
                        tempStr: $scope.edcontrac.tempStr,
                        relevance: null,
                        price: null,
                        equipments: null,
                        client: null,
                    }
                }).then(function (response) {
                    console.log(response.data);
                    $scope.getDevice();
                    $scope.edcontrac.compName = null;
                    $scope.edcontrac.tempStr = null;
                    $scope.edcontrac.ldate = null;
                    $scope.edcontrac.fdate = null;
                });
            }else{alert("Невозможно редактировать старый контракт");}
        }
        $scope.getDevice = function(){
            $http({
                url: '/newcontracts',
                method: 'GET',
            }).then(resp=>{
                $scope.contracts = resp.data;
                console.log(resp.data);
                console.log(window.location.href);
            });
        }
        $scope.searchDevice = function(){
            $http({
                url: '/contracts1?name='+$scope.search,
                method: 'GET',
            }).then(resp=>{
                let dd = resp.data;
                if(dd.length == 0){
                    alert("Ничего не нашлось");
                }
                else {$scope.contracts = resp.data;}
                console.log(resp.data);
                $scope.pdfState = 3;
            });
        }
        $scope.getPdf = function(){
            $http({
                url: '/equpments/topdf?value='+$scope.pdfState+'&name='+$scope.search,
                method: 'GET',
            }).then(resp=>{
            });
        }
        $scope.getDevice();
        $scope.delete = function(contract){
            if(confirm('Вы точно хотите удалить контракт?')) {
                $http.delete("/contracts/del/" + contract.id).then(contracts => {
                    let ix = $scope.contracts.map(contract => contract.id).indexOf(contract.id);
                    $scope.contracts.splice(ix, 1);
                });
            }
        }
        $scope.Relev = function(){
            $http.get("/contracts/relev?name="+$scope.search).then(resp=>{
                $scope.contracts = resp.data;
                $scope.pdfState = 1;
            });
        }
        $scope.NotRelev = function(){
            $http.get("/contracts/notRelev?name="+$scope.search).then(resp=>{
                $scope.contracts = resp.data;
                $scope.pdfState = 2;
            });
        }
        $scope.saveDevice = function(){
            if($scope.contrac.compName != null && $scope.contrac.compName !="") {
                if($scope.contrac.Id != null && $scope.contrac.Id != 0) {
                    if($scope.contrac.ldate != null && $scope.contrac.ldate != "") {
                        if($scope.contrac.fdate != null && $scope.contrac.fdate != "") {
                            if($scope.checkId($scope.contrac.Id)) {
                                $http({
                                    url: '/add_contracts',
                                    method: 'POST',
                                    data: {
                                        id: $scope.contrac.Id,
                                        compName: $scope.contrac.compName,
                                        relevance: null,
                                        fdate: $scope.contrac.fdate,
                                        ldate: $scope.contrac.ldate,
                                        price: null,
                                        tempStr: $scope.contrac.equip,
                                        equipments: null,
                                        client: null,
                                    }
                                }).then(function (response) {
                                    console.log(response);
                                    $scope.getDevice();
                                    $scope.contrac.compName = null;
                                    $scope.contrac.Id = null;
                                    $scope.contrac.fdate = null;
                                    $scope.contrac.ldate = null;
                                    $scope.contrac.equip = null;
                                });
                            }
                        }else{
                            alert("Вы оставили важные поля пустыми! Финальная дата");
                        }
                    }else{
                        alert("Вы оставили важные поля пустыми! Первая дата");
                    }
                }else{
                    alert("Вы оставили важные поля пустыми! ID");
                }
            }else{
                alert("Вы оставили важные поля пустыми!Name");
            }
        }

        $scope.ContractsCount = function(){
            console.log($scope.firstDate);
            $scope.f = ($scope.firstDate).getTime();
            $scope.l = ($scope.secondDate).getTime();
            console.log($scope.f);
            console.log($scope.l);
            $http
            ({
                url: "/contracts/searchContracts?name1=" + $scope.f + '&name2='+$scope.l+
                    "&name="+$scope.search,
                method: 'GET',
            }).then(resp=>{
                $scope.contracts = resp.data;
                console.log(resp.data);
                $scope.Count = resp.data.length;
                $scope.pdfState = 4;
            });
        }
        $scope.delNowCntr = function(qid){
            if(confirm('Вы точно хотите удалить девайс?')) {
                $http
                ({
                    url: "/contracts/edir/" + $scope.edconid,
                    method: 'PUT',
                    data: {
                        id: $scope.edconid,
                        compName: "test",
                        relevance: null,
                        fdate: "2022-01-12",
                        ldate: "2022-01-12",
                        price: null,
                        tempStr: qid.id,
                        equipments: null,
                        client: null,
                    }
                }).then(function (response) {
                    console.log(response.data);
                    $scope.getDevice();
                    alert("Удаение произошло успешно! Закройте таблицу девайсов");
                });
            }
        }
    });
</script>
<body ng-app="CREATE_DEVICE" ng-controller="CREATE_DEVICE_CTRL">
<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Function
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><button type="button" class="dropdown-item" ng-click="Relev()">Relevante</button></li>
                            <li><button type="button" class="dropdown-item" ng-click="NotRelev()">Not relevante</button></li>
                            <li><a href="#zat2" type="button" class="dropdown-item" ng-click="ContractsCount()" role="button">Countract</a></li>
                            <li><a role="button" type="button" href="../finance" class="dropdown-item" >Finance</a></li>
                        </ul>

                    </li>
                </ul>
            </div>
        </div>
        <span id = "nameList">Contracts</span>
        <form class="d-flex" id="search">
            <input ng-model="search" type="search" name = "q" placeholder = "Search query" class="form-control me-2" aria-label="readonly input example">
            <button class="btn btn-primary me-4" type="submit" ng-click="searchDevice()"> Go! </button>
        </form>
    </nav>

</header>
<main>
    <section class = "rightPanel" row="col-xl" >

        <article class = "list ">
            <a href="../clients" id="cliets" class="btn btn-outline-secondary text-white" role="button">Clients</a>
            <a href="../contracts" id="contracts" class="btn btn-outline-secondary text-white" role="button">Contracts</a>
            <a href="../equpments" id="equpments" class="btn btn-outline-secondary text-white" role="button">Equipments</a>
            <a href="../firstContacts" id="firstCon" class="btn btn-outline-secondary text-white" role="button">First contacts</a>

            <article class="buttons">
                <form>
                    <button class="btn btn-outline-light" type="submit" id="save" ng-click="getPdf()">Save data</button>
                </form>
            </article>
        </article>

    </section>
    <section class="table1">
        <div class="d-flex justify-content-end">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <td>№</td>
                    <td>Name</td>
                    <td>Relevance</td>
                    <td>fDate</td>
                    <td>lDate</td>
                    <td>id</td>
                    <td>Equipments</td>
                    <td>Button</td>
                </tr>
                </thead>
                <tr ng-repeat="contract in contracts track by $index" >
                    <td>{{$index+1}}</td>
                    <td>{{contract.compName}}</td>
                    <td>{{contract.relevance}}</td>
                    <td>{{contract.fdate}}</td>
                    <td>{{contract.ldate}}</td>
                    <td>{{contract.id}}</td>
                    <td>
                        <span  ng-repeat="old in contract.equipments">
                            <a href="/equpments/view/{{old.id}}" >{{old.name}}</a>
                        </span>
                        {{contract.price}}
                    </td>
                    <td>
                        <div class="d-grid gap-2">
                            <button class="btn btn-outline-primary btn-sm" ng-click="delete(contract)" type="button">
                                Удалить
                            </button>
                            <a class="btn btn-outline-primary btn-sm" href="#zat1" role="button" ng-click="s(contract)">Девайсы</a>
                            <a class="btn btn-outline-primary btn-sm" href="#zat" role="button" ng-click="s(contract)">Редактировать</a>
                        </div>
                    </td>
                </tr>

                <tr>
                    <div class="row">
                        <form>
                            <td>
                            </td>
                            <td class="mai">
                                <input class="form-control" ng-model="contrac.compName" type="text" id = "contractName" placeholder = "Input Name" >
                            </td>
                            <td class="mai">
                            </td>
                            <td class="mai">
                                <input class="form-control" ng-model="contrac.fdate" type="date" id = "contractfdate" placeholder = "Input Count Sale" >
                            </td>
                            <td class="mai">
                                <input class="form-control" ng-model="contrac.ldate" type="date" id = "contractldate" placeholder = "Input Count Sale" >
                            </td>
                            <td class="mai">
                                <input class="form-control" ng-model="contrac.Id" type="text" id = "contractprice" placeholder = "Input Count Sale" >
                            </td>
                            <td class="mai">
                                <input class="form-control" ng-model="contrac.equip" type="text" name = "q" placeholder = "Input cntrct id" >
                            </td>
                            <td class="mai">
                                <button class="btn btn-primary" type="button" ng-click="saveDevice()">Добавить</button>
                            </td>
                        </form>
                    </div>
                </tr>

            </table>
        </div>
        <div id="zat2">
            <div id="form2">
            <table class="table">
                <tr class="mai">
                    <td>
                    <input class="form-control" ng-model="firstDate" type="date" placeholder = "Input First date" >
                    </td>
                <td class="mai">
                    <input class="form-control" ng-model="secondDate" type="date" placeholder = "Input Last date" >
                </td>
                </tr>
                </table>
                    <p>Количество контрактов: {{Count}}</p>
                    <td class="mai">
                        <button class="btn btn-primary" type="button" ng-click="ContractsCount()">Показать контракты</button>
                    </td>
                    <td class="mai">
                        <a href="#"><button type="button" class="btn btn-primary" aria-label="Close">Закрыть</button></a>
                    </td>

            </div>
        </div>
        <div id="zat1">
            <div id="form1">

                <table class="table">
                    <thead>
                    <tr>
                        <td>№</td>
                        <td>ContractId</td>
                        <td>FFDS</td>
                    </tr>
                    </thead>
                        <tr ng-repeat="old in oldCntr track by $index">
                            <td>{{$index+1}}</td>
                            <td>
                                {{old.name}}
                            </td>
                            <td>
                            <form>
                                <button class="btn btn-primary" type="button" ng-click="delNowCntr(old)">Удалить из списка</button>
                            </form>
                            </td>
                        </tr>
                </table>
                <a href="#"><button type="button" class="btn btn-primary" aria-label="Close">Закрыть</button></a>
            </div>
        </div>
        <div id="zat">
            <div id="form">

                <table class="table">
                    <tr>
                        <td>Name</td>
                        <td>fDate</td>
                        <td>lDate</td>
                        <td>Equipments</td>
                    </tr>
                    <tr><form>

                        <td class="mai">
                            <input class="form-control" ng-model="edcontrac.compName" type="text" id = "edcontractName" placeholder = "Input Name" >
                        </td>
                        <td class="mai">
                            <input class="form-control" ng-model="edcontrac.fdate" type="date" id = "edcontractfdate" placeholder = "Input Count Sale" >
                        </td>
                        <td class="mai">
                            <input class="form-control" ng-model="edcontrac.ldate" type="date" id = "edcontractldate" placeholder = "Input Count Sale" >
                        </td>

                        <td class="mai">
                            <input class="form-control" ng-model="edcontrac.tempStr" type="text" id = "edcon" placeholder = "Input Name" >
                        </td>
                    </form>
                    </tr>

                </table>
                <a href="#"><button type="button" class="btn btn-primary" aria-label="Close">Закрыть</button></a>

                <button class="btn btn-primary" ng-click="edit()" type="button">
                    Редактировать
                </button>
            </div>
        </div>
    </section>
</main>
</body>
</html>